pkgbase = archisteamfarm-bin
	pkgdesc = C# application that allows you to farm steam cards using multiple steam accounts simultaneously.
	pkgver = 6.0.8.7
	pkgrel = 1
	url = https://github.com/JustArchiNET/ArchiSteamFarm
	arch = x86_64
	license = Apache
	makedepends = unzip
	makedepends = curl
	makedepends = jq
	depends = dotnet-runtime
	noextract = ASF-linux-x64.zip
	options = !debug
	options = !strip
	options = staticlibs
	source = archisteamfarm-bin-6.0.8.7.zip::https://github.com/JustArchiNET/ArchiSteamFarm/releases/download/6.0.8.7/ASF-linux-x64.zip
	source = ArchiSteamFarm-bin.desktop
	sha512sums = 9dc17f99cded5b7e415a6849b7ecfbb7b1e6041e887dc02e4d31d460ec971c49b4eb125a0482d78abfb13fd771f077ac059ec5284dc6a7980212660902f2dd8e
	sha512sums = 32aaead4aacc02c9c60afef74e04cb3a30afc4d76f5e6836a05e672344c7db66cf099849cb2bc9a04454a026f99c9f60d3d7186f4a496d4626fe1a3d40d4ecf6

pkgname = archisteamfarm-bin
