pkgbase = archisteamfarm-bin
	pkgdesc = C# application that allows you to farm steam cards using multiple steam accounts simultaneously.
	pkgver = 6.0.6.4
	pkgrel = 1
	url = https://github.com/JustArchiNET/ArchiSteamFarm
	arch = x86_64
	license = Apache
	makedepends = unzip
	makedepends = curl
	makedepends = jq
	depends = dotnet-runtime
	noextract = ASF-linux-x64.zip
	options = !debug
	options = !strip
	options = staticlibs
	source = archisteamfarm-bin-6.0.6.4.zip::https://github.com/JustArchiNET/ArchiSteamFarm/releases/download/6.0.6.4/ASF-linux-x64.zip
	source = ArchiSteamFarm-bin.desktop
	sha512sums = 8f9cd4a67a271eb9ddddcd82a0a14d6aae372910063f682573f08b41f0d7f944effa9f096225d90878d2737adf5779e9114bf04be818bb95a4dec853a6134bf5
	sha512sums = 32aaead4aacc02c9c60afef74e04cb3a30afc4d76f5e6836a05e672344c7db66cf099849cb2bc9a04454a026f99c9f60d3d7186f4a496d4626fe1a3d40d4ecf6

pkgname = archisteamfarm-bin
